/* dark mode */

.sidebar-wrapper.dark-mode {
  background-color: #222;
  color: #fff;
}
.sidebar-wrapper.dark-mode .dropdown-content {
  background-color: #222;
}

.btn-mode.light {
  width: fit-content;
  color: #fff;
  background-color: #333;
  border: 2px solid white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.btn-mode.dark {
  width: fit-content;
  color: #222;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

p.dark-mode {
  color: white;
}

p.light-mode {
  color: black;
}