.imessage {
  background-color: #fff;
  border: 1px solid #e5e5ea;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem; 
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem 1.5rem;
  overflow-y: scroll;
  position: relative;
}

.imessage p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}


p.user-message {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff; 
}

p.user-message::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.user-message::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

p.user-message ~ p.user-message {
  margin: 0.25rem 0 0;
}

p.user-message ~ p.user-message:not(:last-child) {
  margin: 0.25rem 0 0;
}

p.user-message ~ p.user-message:last-child {
  margin-bottom: 0.5rem;
}

p.generated-message {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

p.generated-message:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.generated-message::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="from-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

body {  
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
  font-weight: normal;
  margin: 0;
}


.container {
  margin: 0 auto;
  max-width: 300px;
  padding: 1rem;
  border-radius: 25px;
  border: 2px solid #c2c2c2;
  box-shadow: 0px 0px 10px #000000;
  width: 350px;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}


@media screen and (max-width: 800px) {
  body {
    margin: 0 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .imessage {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.25rem 0.875rem;
  }

  .imessage p {
    margin: 0.5rem 0;
  }
}

.conversation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
}

.message {
  display: inline-block;
  max-width: 70%;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-radius: 1rem;
  font-size: .8rem;
  line-height: 1.5;
}

.user-message {
  align-self: flex-end;
  background-color: #007aff;
  color: #fff;
  margin-right: 1rem;
}

.generated-message {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: #000;
  margin-left: 1rem;
}
