body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ADD8E6;
  background-image: url("img/old-map.jpg");
  background-size: cover;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  nav-left: auto;
  position: absolute;
  top: 0;
  z-index: 0;
}

.title {
  font-weight: bold;
  color: #0053c7;
  margin-top: 0;
}

.title-center {
  font-weight: bold;
  color: #0053c7;
  margin-top: 0;
  text-align: center;
}

.search-input {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 240px;
  height: 60px;
  padding: 0 12px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
}

.preset-questions-item:hover {
  transform: translateY(0px);
}

.submit-button {
  background-color: #007bff;
  color: #000000;
  margin-left: 5px;
  margin-top: 5px;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  transform: translateY(-2px);
}

.submit-button:active {
  transform: translateY(1px);
  border: 2px solid #007bff;
}

.submit-button:focus {
  outline: none;
}

button {
  background-image: linear-gradient(to bottom, #f7f7f7, #ccc);
  border: 1px solid #ccc;
  font-family: 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

button.dropdown-item {
  background-color: #007bff;
  color: #000000;
  margin-left: 5px;
  margin-top: 5px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

button.dropdown-item:hover {
  transform: translateY(-2px);
}

button.dropdown-itemactive {
  transform: translateY(1px);
  border: 2px solid #007bff;
}

button.dropdown-itemfocus {
  outline: none;
}

button.dropdown-question {
  margin-left: 5px;
  margin-top: 5px;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button.dropdown-question:hover {
  transform: translateY(-4px);
}

button.dropdown-question:active {
  transform: translateY(4px);
}

button.dropdown-question:focus {
  outline: none;
}