body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ADD8E6;
  background-image: url("img/old-map.jpg");
  background-size: cover;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  nav-left: auto;
  position: absolute;
  top: 0;
  z-index: 0;
}

.sidebar-wrapper {
  position: relative;
  background-color: #FAFAFA;
  color: #444444;
  padding: 20px;
  margin: 100px 20px 20px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #CCCCCC;
  width: 400px;
  height: fit-content;
  z-index: 1;
}

.title {
  font-weight: bold;
  color: #0047AB;
  margin-top: 0;
}

button {
  background-image: linear-gradient(to bottom, #f7f7f7, #ccc);
  border: 1px solid #ccc;
  font-family: 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

button.dropdown-item {
  border: 2px solid black;
}

button.dropdown-question {
  border: 1px solid black;
}

/* dark mode */

.sidebar-wrapper.dark-mode {
  background-color: #222;
  color: #fff;
}
.sidebar-wrapper.dark-mode .dropdown-content {
  background-color: #222;
}


.btn-mode.light {
  color: #fff;
  background-color: #333;
  border: 2px solid white;
  
}

.btn-mode.dark {
  color: #222;
  background-color: #fff;
  border: 2px solid black;
}

p.dark-mode {
  color: white;
}

p.light-mode {
  color: black;
}


/* hide the sliders */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  height: fit-content;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #444444;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.dropdown-active {
  padding: 8px 12px;
  cursor: pointer;
  color: #444444;
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #444444;
}

.dropdown-item.active {
  background-color: #4CAF50;
  color: white;
}

/* Splash Screen */

.splash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: fit-content;
}

.splash-screen-button {
  background-color: #007bff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  border: 2px solid black;
}

.splash-screen-button:hover {
  transform: scale(1.1);
  color: darkgreen;
  border: 2px solid darkgreen;
}

.button-container {
  text-align: center;
}

.splash-text {
  margin: 0;
}

.splash-p-tags {
  text-align: left;
}
.splash-screen.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.splash-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}


/* iMessage Look  */
/* 
.preset-questions-container {
  background-color: #F5F7FA;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  margin: 20px;
  max-width: 500px;
  padding: 20px;
}

.preset-questions-item {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  margin: 10px;
  max-width: 80%;
  padding: 10px;
}

.custom-question-item {
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  margin: 10px;
  width: fit-content;
  padding: 10px;
}

.loading-bubble {
  background-color: #F5F7FA;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}

.loading-bubble:after {
  border: 10px solid transparent;
  border-bottom-color: #F5F7FA;
  border-top: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: -1;
}

.answer {
  position: relative;
}

.generated-text {
  background-color: #F5F7FA;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}

.generated-text:after {
  border: 10px solid transparent;
  border-bottom-color: #F5F7FA;
  border-top: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: -1;
}

.loading-bubble .dark-mode
.generated-text .dark-mode {
  background-color: #2C3E50;
  color: #FFF;
}

.loading-bubble:after .dark-mode,
.generated-text:after .dark-mode {
  border-bottom-color: #2C3E50;
}

.loading-bubble .light-mode,
.generated-text .light-mode {
  background-color: #F5F7FA;
  color: #333;
}

.loading-bubble:after .light-mode,
.generated-text:after .light-mode {
  border-bottom-color: #F5F7FA;
}

 */
