body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  nav-left: auto;
  position: absolute;
  top: 0;
  z-index: 0;
}


.sidebar-wrapper {
  position: relative;
  background-color: #FAFAFA;
  color: #444444;
  padding: 20px;
  margin: 100px 20px 20px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #CCCCCC;
  width: 310px;
  height: fit-content;
  z-index: 1;
}

.title {
  font-weight: bold;
  color: #0047AB;
  margin-top: 0;
}

button {
  background-image: linear-gradient(to bottom, #f7f7f7, #ccc);
  border: 1px solid #ccc;
  font-family: 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* dark mode */

.sidebar-wrapper.dark-mode {
  background-color: #222;
  color: #fff;
}
.sidebar-wrapper.dark-mode .dropdown-content {
  background-color: #222;
}


.btn-mode.light {
  color: #fff;
  background-color: #333;
}

.btn-mode.dark {
  color: #222;
  background-color: #fff;
}

/* hide the sliders */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  height: fit-content;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #444444;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.dropdown-active {
  padding: 8px 12px;
  cursor: pointer;
  color: #444444;
  background-color: whitesmoke;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #444444;
}

.dropdown-item.active {
  background-color: #4CAF50;
  color: white;
}