body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-wrapper {
  position: absolute;
  background-color: rgba(100, 55, 400);
  padding-top: 50px;
  padding-left: 10px;
  margin-top: 110px;
  margin-left: 5px;
  padding-bottom: 50px;
  margin-bottom: 100%;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  nav-left: auto;
  position: relative;
  top: 0;
  left: 300px;
  z-index: 0;
}

